<article class="post">
  <div class="title">
    <p>{{title}} by {{user.username}} on {{format_date created_at}</p>
    <p>({{article}})</p>
  </div>
  <div class="meta">
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>